<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.caoh2.app.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.caoh2.app.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        nickname,avatar,email,
        phone,status,create_time,
        update_time
    </sql>

    <select id="selectUserDtoByUsername" resultType="cn.caoh2.app.dto.UserDto" parameterType="string">
        select u.username, u.password, r.name as role
        from tb_user u,
             tb_user_role ur,
             tb_role r
        where u.id = ur.user_id
          and ur.role_id = r.id
          and u.username = #{username,javaType=string,jdbcType=VARCHAR}
    </select>
</mapper>
